# node
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
node_modules

pids
logs
results

npm-debug.log

# SublimeText
*.sublime-workspace

# vim
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# linux
.*
!.gitignore
*~
